.Input__root {
  padding: 0.75rem 1rem;
  outline: none;
  width: 100%;
  margin: 0.65rem 0;
  border: none;
  border-radius: 3px;
  background-color: var(--color-main-bg);
  font-size: 0.95rem;
}

.Input__error {
  color: var(--color-danger);
  margin: 0 0 4px 4px;
  font-size: 0.8rem;
}
.Input__label {
  font-size: 0.87rem;
  font-family: inherit;
}
