.Sidebar__root {
  width: 18rem;
  height: calc(100vh - 4rem);
  position: sticky;
  top: 4rem;
  z-index: 2;
  background-color: var(--color-white);
}
.Sidebar__link {
  padding: 1.15rem 1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--color-primary);
  font-weight: bold;
}

.Sidebar__link:hover {
  color: var(--color-text-white);
  background-color: var(--color-primary);
}
.Sidebar__icon {
  color: inherit;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .Sidebar__root {
    position: fixed;
    transform: translateX(-150%);
    transition: transform 0.3s ease;
  }
}

.Sidebar--slidein {
  transform: translateX(0);
  transition: transform 0.3s ease;
}
