.Sidebar__root {
  width: 18rem;
  height: calc(100vh - 5rem);
  position: sticky;
  top: 0;
}
.Sidebar__link {
  padding: 1.15rem 1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--color-primary);
  font-weight: bold;
}

.Sidebar__link:hover {
  color: var(--color-text-white);
  background-color: var(--color-primary);
}
.Sidebar__icon {
  color: inherit;
  font-size: 1.5rem;
}

.Sidebar__drawer {
  position: absolute;
  top: 0;
  background-color: var(--color-white);
  width: 72%;
  height: 100%;
  color: var(--color-primary);
  z-index: 2;
}
.Sidebar__drawer--link {
  padding: 1rem 1.7rem;
  color: var(--color-primary);
  font-weight: bold;
}
.Sidebar__drawer--link:hover {
  color: var(--color-text-white);
  background-color: var(--color-primary);
}
