.Button__root {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  min-width: 6rem;
  font-family: inherit;
  outline: none;
}

.Button--contained {
  background-color: var(--color-primary);
  color: var(--color-text-white);
  padding: 0.5rem 1rem;
}

.Button--outlined {
  border: 1.75px solid var(--color-gray);
  box-sizing: content-box;
  background-color: transparent;
}

.Button--icon {
  font-size: 1.15rem;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  min-width: 1em;
  margin-right: 4px;
  color: var(--color-text-icon);
}

.Button--icon-primary {
  font-size: 1.15rem;
  font-weight: bold;
}

.Button--icon:hover {
  background-color: var(--color-dark-hover);
  color: var(--color-text-white);
}

.Button--chip {
  min-width: 2rem;
}

.Button__text--capitalize {
  text-transform: uppercase;
}

.Button--disabled {
  background-color: var(--color-primary-disabled);
  cursor: initial;
}

@media screen and (max-width: 600px) {
  .Button--icon {
    font-size: 1rem;
    padding: 3px;
  }
}
