.NoteCard__root {
  width: 100%;
  min-height: 12rem;
  border-radius: 4px;
  background-color: var(--color-box-shadow);
  margin-bottom: 1rem;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
  max-height: 32rem;
  max-width: 21rem;
  overflow: hidden auto;
}
.NoteCard__content {
  font-size: 1rem;
  flex-grow: 1;
  outline: none;
  margin-bottom: 1rem;
  padding: 0.25rem 1.25rem;
}
.NoteCard__content img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  object-fit: 90%;
}
.close--icon {
  border-radius: 50%;
  border: 1.5px solid var(--color-text-dark);
  width: 1.25rem;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--color-text-dark);
  font-weight: 500;
}
.NoteCard__header {
  padding: 1rem 1.25rem 0.5rem 1.25rem;
}

@media screen and (max-width: 600px) {
  .NoteCard__root {
    margin: 0;
    margin-top: 1rem;
    max-width: 100%;
  }
  .NoteCard__root:nth-child(1) {
    margin-top: 0;
  }
}
