.Dashboard__root {
  min-height: 100vh;
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
  position: relative;
}
.Dashboard__itemContainer {
  flex: 1;
}
.Dashboard__cardContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .Dashboard__root {
    max-width: 100%;
  }
}
