.LabelContainer__root {
  max-width: 42rem;
  padding: 0.5rem;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--color-box-shadow);
  font-size: 0.9rem;
}
.LabelContainer__root .close--icon {
  border-radius: 50%;
  border: 1.8px solid var(--color-primary);
  width: 1.25rem;
  height: 20px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--color-primary);
}
