.LabelContainer__root {
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: var(--color-text-white);
}
.LabelContainer__root .close--icon {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--color-text-white);
  background-color: var(--color-text-dark);
}
.LabelItem {
  background-color: var(--color-text-white);
  border-radius: 2px;
  margin-right: 6px;
  padding: 4px 6px;
}
