:root {
  --color-primary: #ec6b44;
  --color-main-bg: #f3f4f6;
  --color-text-dark: #1a1919;
  --color-text-white: #f1f1f1;
  --color-primary-disabled: #fc8763;
  --color-danger: #cc4e59;
  --color-box-shadow: rgba(0, 0, 0, 0.16);

  --color-text-icon: rgba(39, 36, 36, 0.75);
  --color-dark-hover: rgba(0, 0, 0, 0.4);
  --color-blue-light: #aeccee;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Courier New', Courier, monospace;
  color: var(--color-text-dark);
  background-color: var(--color-main-bg);
}

* {
  box-sizing: border-box;
}

.navlink {
  color: inherit;
  font-family: inherit;
  padding: 0.4rem 1.2rem;
}
.navlink:hover {
  background-color: var(--color-primary-disabled);
  color: var(--color-text-white);
}
.navlink--primary-contained {
  color: var(--color-text-white);
  background-color: var(--color-primary);
  border-radius: 2px;
  margin-left: 2.5rem;
}

.content-start {
  justify-content: start;
}

.py-half {
  padding-top: 5px;
  padding-bottom: 5px;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .navlink--primary-contained {
    margin: 0;
  }
}
