:root {
  --color-primary: #ec6b44;
  --color-main-bg: #f5f5f5;
  --color-text-dark: #1a1919;
  --color-text-white: #f1f1f1;
  --color-primary-disabled: #fc8763;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Courier New', Courier, monospace;
  color: var(--color-text-dark);
}

* {
  box-sizing: border-box;
}
