.Home__root {
  background-color: var(--color-white);
  height: 100vh;
  width: 100%;
  padding: 4rem;
}

.BannerContainer {
  padding: 1rem;
  max-width: 28rem;
  margin-top: 1.75rem;
}

.Home__joinBtn {
  border: none;
  font-weight: bold;
  font-size: 1.05rem;
  padding: 0.7rem;
  width: 11rem;
  border-radius: 2px;
  margin-right: 2rem;
}

.Home__continueBtn {
  border: 2px solid var(--color-primary);
  color: var(--color-text-black);
  font-weight: bold;
  font-size: 1.05rem;
  width: 11rem;
}
