.Home__root {
  background-color: var(--color-white);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BannerContainer {
  padding: 1rem;
  max-width: 28rem;
  margin-top: 1.75rem;
}

.Home__joinBtn {
  border: none;
  font-weight: bold;
  font-size: 1.05rem;
  padding: 0.7rem;
  border-radius: 2px;
  margin-right: 2rem;
  width: 11rem;
}

.Home__continueBtn {
  border: 2px solid var(--color-primary);
  color: var(--color-text-black);
  font-weight: bold;
  font-size: 1.05rem;
  width: 11rem;
}

@media screen and (max-width: 422px) {
  .Home__root {
    padding: 1.75rem;
  }
  .Home__joinBtn {
    width: 8rem;
    padding: 0.5rem;
    font-size: 1rem;
  }
  .Home__continueBtn {
    width: 8rem;
  }
}
