.Signin__formContainer {
  width: 26rem;
  margin: 2rem auto;
  padding: 2rem;
  position: relative;
  transform: translate(0, 10%);
  border-radius: 4px;
  height: fit-content;
  box-shadow: var(--color-box-shadow) 0px 1px 4px;
  background-color: var(--color-white);
}
.Signin__button {
  margin-top: 0.75rem;
  width: 100%;
}

.Signin__button:last-child {
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .Signin__formContainer {
    box-shadow: none;
    width: 100%;
  }
}
