.Signin__root {
  min-height: 100vh;
  width: 100%;
}

.Signin__formContainer {
  max-width: 26rem;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  transform: translate(0, 10%);
  border-radius: 4px;
  box-shadow: var(--color-box-shadow) 0px 1px 4px;
}
.Signin__button {
  margin-top: 0.75rem;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .Signin__formContainer {
    box-shadow: none;
  }
}
