.NotePad__root {
  width: 100%;
  font-family: inherit;
  border-radius: 4px;
  position: relative;
  min-height: 10rem;
  border-radius: 4px;
  max-width: 48vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 0 auto 1rem auto;
  background-color: var(--color-white);
  padding: 0.5rem;
}

.NotePad__inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.NotePad__inputContainer > .quill .ql-toolbar.ql-snow {
  outline: none;
  border: 0;
  border-bottom: 1.5px solid var(--color-box-shadow);
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
  resize: none;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  width: 100%;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  min-height: 6rem;
  font-weight: 300;
}

.ql-editor.ql-blank::before {
  font-style: initial;
  font-family: inherit;
}

.NotePad__root svg {
  color: inherit;
}

.NotePad__colorPicker {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 12px;
  z-index: 1;
  left: -30px;
  background: var(--color-gray);
  border-radius: 4px;
}
.NotePad__colorPicker > span > div {
  margin: 0 !important;
  padding: 4px;
  width: 36px !important;
  height: 36px !important;
}

.popover_container {
  position: relative;
}

.NotePad__footer {
  display: flex;
  justify-content: space-between;
  padding: 4px 14px;
}

@media screen and (max-width: 1024px) {
  .NotePad__root {
    max-width: 92vw;
  }
}
