.Navbar__root {
  padding: 1.25rem 3rem;
  border-bottom: 1px solid var(--color-box-shadow);
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--color-main-bg);
  margin: 0 2rem;
}

.Navbar__root > nav {
  max-width: 85%;
  margin: 0 auto;
}
.Navlink--primary {
  color: var(--color-primary);
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .Navbar__root {
    margin: 0;
  }
  .Navbar__root > nav {
    max-width: 100%;
    margin: 0 auto;
  }
  .Navlink--primary {
    color: var(--color-primary);
    font-size: 1.5rem;
  }
}
