.Wrapper__root {
  min-height: 100vh;
  width: 100%;
}
.Wrapper__container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

@media screen and (max-width: 600px) {
  .Wrapper__container {
    max-width: 100%;
  }
}
